h1 {
    font-size: 2rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}

.calculator {
    border: 12px solid black;
    overflow: hidden;
    border-radius: 20px;
    font-size: 2rem;
}

.displayCalculator {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    width: 296px;
    min-height: 100px;
    padding: 12px;
    border-bottom: 12px solid black;
}

/* style */
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 320px;
    user-select: none;
}

.buttons button {
    text-align: center;
    height: 60px;
}

.b0 {
    grid-column: span 2;
}

.clear,
.operate,
.number {
    cursor: pointer;
    transition: 0.1s ease-in-out;
    transition-property: font-weight;
    background-color: hsl(0, 0%, 95%);
}

.number:hover {
    background-color: hsl(0, 0%, 90%);
}

.clear:active,
.operate:active,
.number:active {
    font-weight: bold;
}

.clear {
    background-color: hsl(0, 100%, 65%);
}

.operate {
    background-color: hsl(85, 100%, 45%);
}

.operate:hover {
    background-color: hsl(85, 100%, 40%);
}

.displayCalculator2 {
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    width: 100%;
}

.dspCalc {
    text-align: end;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    width: 100%;
}
